main {
  display: grid;
  padding: 0;
}

#hamburger-filter-menu,
#hamburger-sort-menu,
.category,
.sort {
  display: none;
}

.hamburger-filter-label,
.hamburger-sort-label {
  display: block;
  padding: 10px;
  text-align: center;
  font-size: 1.2em;
  width: 80%;
  margin: auto;
}

.hamburger-filter-label {
  margin: 20px auto 10px auto;
}

#hamburger-filter-menu:checked ~ .category {
  display: block;
}

#hamburger-sort-menu:checked ~ .sort {
  display: flex;
}

.filter,
.options {
  border-left: 1px solid;
  border-right: 1px solid;
}

.filter {
  border-top: 1px solid;
}

.options {
  border-bottom: 1px solid;
}

.category {
  width: 80%;
  margin: auto auto 10px auto;
  padding-bottom: 20px;
  border-top: 1px solid;
  border-bottom: 1px solid;
}

.category p {
  font-size: 1.2em;
}

.sort,
.game-search {
  gap: 10px;
  padding: 10px;
  align-items: center;
}

.sort {
  background-color: #dcdcdc;
  border-top: 1px solid #707070;
  justify-content: space-between;
}

.game-search {
  display: flex;
  justify-content: center;
}

#game-search__input,
.sort-select {
  padding: 8px 4px;
}

.game-search__btn {
  padding: 8px;
}

.result {
  width: 95vw;
  margin: 20px auto auto auto;
}

/*Game review*/
.game-result__content img {
  max-width: 100px;
  display: inline-block;
}

.game-result {
  border: 1px solid #707070;
  margin-bottom: 20px;
  padding: 20px;
}

.game-result__img {
  grid-area: game-img;
}

.game-result__content {
  grid-area: game-content;
  padding-top: 5px;
}

.game-result__content h2 {
  margin-bottom: 5px;
}

.game-id {
  display: inline;
}

.game-description {
  margin: 5px;
}

.game-result__cta {
  grid-area: game-cta;
  margin-top: 20px;
}

.game-result__cta a {
  margin-right: 6px;
}

.game-result__cta p {
  font-size: 1.3rem;
}
