html {
  scroll-behavior: smooth;
}

body {
  font-family: Calibri, "Trebuchet MS", sans-serif;
  margin: 0;
  min-height: 100vh;
}

h1,
h2 {
  font-family: "Lucida Sans Typewriter", monaco, monospace;
}

.gamepage-link {
  color: #0e75b9;
  font-family: "Arial Narrow", Arial, sans-serif;
}

main {
  padding: 10px;
}

.main-max-width {
  max-width: 1225px;
}

h1 {
  padding-left: 10px;
}

header,
.cta {
  background-color: #1d2540;
}

.hamburger-label,
nav li a:hover,
.active {
  background-color: #b35600;
}

body,
main,
footer,
.search-bar,
.search-bar__label,
.recommended,
.cta:hover,
.cta-light:hover {
  background-color: #fff;
}

h1,
nav li a,
.footer-wrapper a,
.search-bar__label,
.view-more a {
  color: #000;
}

.hamburger-label,
nav li a:hover,
.active,
.nav__icon a,
.cta,
.cta-light {
  color: #fff;
}

.gamepage-link,
.read_more {
  color: #0e75b9;
}

.search-bar,
nav ul,
.logo-big,
#hamburger-menu,
.last-product {
  display: none;
}

.hamburger-label,
.nav__icon img,
.gamepage-link,
.icon-view_more {
  display: block;
}

nav li,
nav li a,
.nav__mobile,
.featured-products > * {
  display: inline-block;
}

.logo-small,
nav ul,
nav li a,
img,
.featured-products h3,
p {
  width: 100%;
}

.logo-big {
  width: 70%;
}

header label,
nav li a,
.nav__icon a,
.cta,
.cta-light {
  text-align: center;
}

nav li a,
.nav__icon a,
.footer-wrapper a,
.cta,
.cta-light,
.cta:hover,
.cta-light:hover,
.view-more a {
  text-decoration: none;
}

a:hover,
.read_more:hover,
.footer-wrapper h3:hover,
.view-more a:hover {
  text-decoration: underline;
}

.gamepage-link,
.italic {
  font-style: italic;
}

.nav__icon {
  display: flex;
  justify-content: space-around;
}

.nav__icon img {
  width: 50px;
}

.hamburger-label {
  padding: 10px;
  text-transform: uppercase;
  margin-top: 10px;
}

.search-bar {
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.search-bar__label {
  margin: 0;
  font-size: 1em;
  text-transform: capitalize;
  padding: 0 8px;
}

.search-bar__input {
  border: 1px solid;
  min-width: 200px;
  padding: 8px 4px;
  margin-right: 10px;
}

.search-bar__btn {
  padding: 8px;
}

nav ul {
  margin-top: 0;
  padding-left: 0;
  flex-direction: column;
  border-bottom: 20px solid #b35600;
}

nav li {
  flex: 1;
}

nav li a {
  background-color: #eb8521;
  font-size: 1em;
  border-bottom: 1px solid #b35600;
  padding: 3px 0 6px 0;
}

#hamburger-menu:checked ~ ul,
#hamburger-menu:checked ~ .search-bar {
  display: flex;
}

.cta {
  border: 2px solid #1d2540;
  font-size: 1.5rem;
}

.cta-light {
  background-color: #144359;
  border: 2px solid #144359;
  font-size: 1.2rem;
}

.cta,
.cta-light {
  padding: 10px 20px;
}

.cta:hover {
  color: #1d2540;
}

.cta-light:hover {
  color: #144359;
}

h2 {
  margin-top: 0;
  font-size: 1.2em;
}

.price {
  display: inline;
  font-size: 1.2em;
}

footer {
  border-top: 1px solid;
  margin-top: 20px;
}

.footer-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.footer-wrapper > * {
  flex: 1;
  padding: 10px 15px 0 15px;
  border-bottom: 1px solid;
}

footer h3 {
  font-size: 1.5em;
}

.footer-wrapper ul {
  padding: 0;
  list-style-type: none;
}

.contact__icon {
  display: flex;
  align-items: center;
  padding: 10px;
  gap: 15px;
}

.contact__icon img {
  width: 30px;
}

.copyright {
  margin-top: 10px;
  padding: 5px;
}

/*Account and gamepage
__________________*/
.featured-products {
  border: 1px solid;
  margin-bottom: 10px;
  padding: 5px;
}

.featured-products > * {
  margin: 0;
}

.view-more {
  border: 1px solid;
  border-radius: 10px;
  min-height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-view_more {
  width: 50px;
  margin: auto;
}
